 <br> <br><div class="container" style="color: black;">
  <div class="row">
    <h1 align="center">KNOW MORE ABOUT WAYANAD</h1>
      <div class="col-col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"> <br>
          
            <section class="light">
              <div class="container py-2" *ngFor="let i of listCards">
                <div class="h1 text-center text-dark" id="pageHeaderTitle"></div>
            
                <article class="postcard light blue">
                  
                    <img class="postcard__img" src="{{i.image}}" alt="Image Title" />
                  
                  <div class="postcard__text t-dark">
                    <h1 class="postcard__title blue">{{i.place}}</h1>
                    <div class="postcard__subtitle small">
                      <time datetime="2020-05-25 12:00:00">
                        <i class="fas fa-calendar-alt mr-2"></i>Wayanad,Kerala
                      </time>
                    </div>
                    <div class="postcard__bar"></div>
                    <div class="postcard__preview-txt">{{i.detail}}</div>
                  </div>
                </article>
              </div>
            </section>
            </div>
          </div>
          </div>




          
<app-footer> </app-footer>


