<footer class="footerr">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center text-white pt-3  ">
            <a href="" class="bi bi-facebook text-white p-2"></a>
            <a href="" class="bi bi-instagram text-white  p-2"></a>
            <a href="" class="bi bi-twitter text-white  p-2"></a>
            <a href="" class="bi bi-linkedin text-white  p-2"></a><br><br>
            <a href="" class="bi bi-c-circle text-white  p-2"></a>
            <p class="all">All rights reserved | Navigator 2022</p>
        </div>
    </div>
</footer>