<br> <br>
<div class="container" >
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            
            <p class="about p-3  m-3 text-light  d-flex align-items-center d-flex ">
                
                GoTour<br>
                Contains tourist places available in the 
                district of Wayanad,Kerala and The Nilgiris,Tamilnadu.This is a User-friendly website that can be accessed 
                by every tourists from around the world. The website is useful for not only the 
               major attractive places but also the 
               unnoticed minor tourist attractions.Since the details of the tourist place is 
               displayed, it reduces the risk of 
               scamming .This website will be very useful for 
               the development of tourist 
               attraction in Wayanad and The Nilgiris it will act as 
               an adequate tourist guide for the travellers.And there is also a suggestion page in this website that
                allows user to recommend hidden tourist places from both the districts of Wayanad and The Nilgiris.</p>
        </div>
    </div>
</div>

<div class="container">
</div>


        


