
button:hover{
    background-color:darkblue;
    color:white;
}

button{
    border-radius: 30px;
}
input{
    border-radius: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding-top: 8%;
    padding-bottom: 8%;
    padding-left: 8%;
    padding-right: 8%;
    border-radius: 20px;
  }

  
#card{
    padding-bottom: 4%;
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
    border-radius: 30px;
}
#card img{
    border-radius: 30px;
}

.back{
    background-image: url("https://images.unsplash.com/photo-1621468635836-494461c17b64?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fG5hdHVyZSUyMGJhY2tncm91bmR8ZW58MHx8MHx8&auto=format&fit=crop&w=1400&q=60");
    background-size: cover;

}

/*  */

