<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
            <div class="forms p-3  m-3 text-white  d-flex align-items-center d-flex justify-content-center">
                <a href="" class="bi bi-facebook text-white p-2"></a>
                <a href="" class="bi bi-instagram text-white  p-2"></a>
                <a href="" class="bi bi-twitter text-white  p-2"></a>
                <a href="" class="bi bi-linkedin text-white  p-2"></a><br>
                

            </div>
            
        </div>
        
    </div>
</div>



<section>
    <app-footer></app-footer>
</section>