<br> <br> 
<form #updateForm="ngForm">
<div class="container" style="color: black;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col col col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"> 
                <div class="row">
                        <h1 align="center">ADD TICKET RATE</h1> <br>
                        <div class="row g-3">
                            
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label"><b>SPOT</b></label>
                                <input [(ngModel)]="data.pName" type="text" class="form-control" name="data.pName" required #name="ngModel" >
                            <small class="text-danger" *ngIf="updateForm.submitted&&name.errors?.['required']">Field Required</small>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label"> <b> WORKING FROM</b></label>
                                <input [(ngModel)]="data.pwrtime" type="time" class="form-control" name="data.pwrtime" required #wrtime="ngModel"  >
                            <small class="text-danger" *ngIf="updateForm.submitted&&wrtime.errors?.['required']">Field Required</small>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label"> <b>WORKING TILL</b></label>
                                <input [(ngModel)]="data.pwrtimet" type="time" class="form-control" name="data.pwrtimet" required #wrtimet="ngModel"  >
                            <small class="text-danger" *ngIf="updateForm.submitted&&wrtimet.errors?.['required']">Field Required</small>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                <label for="" class="form-label"><b>TICKET RATES</b></label>
                                <input [(ngModel)]="data.pticket" type="number" class="form-control" name="data.pticket" required #ticket="ngModel" >
                            <small class="text-danger" *ngIf="updateForm.submitted&&ticket.errors?.['required']">Field Required</small>
                            </div>
                            <div class="col col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6">
                                <button class="btn btn-success" (click)="updateData()"> <b>UPDATE</b> </button> &nbsp;
                               
                                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"></div>
            
                            </div>
                        
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-md-2"></div>
       
            </div>
        </div>  
    </form>


  